body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color:rgba(255, 136, 255, 0.5);
    font-family: sans-serif;
}
.body_div{
    width: 70%;
    display: flex;
    background-color: rgb(41, 5, 41);
    color: rgb(255,255,255);
    border-radius: 10px;
    margin: 100px auto;
}
.h3{ 
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
.info_div{
    
}