body{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    background-color:rgb(253, 171, 253);
}
.body_div{
    width: 80%;
    display: flex;
    background-color: rgb(1, 1, 27);
    color: rgb(255,255,255);
    border-radius: 10px;
    padding: 10px;
}